<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <%- include('header'); %>
        </header>
        <nav><%- include('nav'); %></nav>
        <main>
            <h2>Main </h2>
            <p>Title is <b><%=title%></b></p>
            <% if (user) { %>
                <p>Name: <%= user.name %></h2>
                <p>id: <%= user.id %></h2>
            <% } %>
            <ol>
                <% data.forEach(function(name) { %>
                    <li><%= name %></li>
                <% }); %>
            </ol>  
        </main>
        <footer>
            <%- include('footer'); %>
        </footer>
    </div>
</body>
</html>